<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /moneyjinn
RewriteRule ^moneyjinn/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /moneyjinn/index.html [L]
</IfModule>